body {
    background: url("../images/sakura.jpg") repeat;
    background-size: 20%;
    background-attachment: fixed;   /* keeps image visible while scrolling */
    font-family: "Libre Baskerville", serif;
    margin: 0;
    padding: 0;
}

#wrapper {
    max-width: 900px;
    margin: 20px auto;
    background-color: #D1A698;
    padding: 20px;
    border: 4px solid #A17B74;
    border-radius: 20px;
}

header {
    text-align: center;
    padding: 20px;
    background-image: url("../images/tree_background.png");
    background-size: cover;
    background-position: center 40%;
    background-repeat: no-repeat;
    border: 6px solid black;
    border-radius: 12px;
}

header h1 {
    margin: 0;
    text-align: center;
    width: auto;
    padding-inline: 7px;
    font-family: "Fraunces", serif;
    font-size: 40px;
    color: #453236;
    background-color: #F1E7DD;
    border-radius: 12px;
    display: inline-block;
    border: 4px solid #453236;
}

.logoCircle {
    width: 320px;
    height: 320px;
    background-color: #F1E7DD;
    border: 3px solid #453236;
    border-radius: 50%;
    margin: 20px auto 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoCircle img {
    width: 110%;
    height: 110%;
    object-fit: cover;
}

header img {
    width: 360px;
    height: 360px;
    object-fit: cover;
    border-radius: 16px;
    display: block;
}

nav {
    margin-top: 20px;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #453236;
    font-weight: bold;
    padding: 8px 20px;
    background-color: #F1E7DD;
    border: 3px solid #453236;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

nav a:hover {
    transform: scale(1.1);
}

main {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 15px;
}

.imgBox {
    grid-column: span 4;
    background-color: #A17B74;
    height: 260px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    border: 4px solid #453236;
}

.textBox {
    grid-column: span 5;
    background-color: #A17B74;
    height: auto;
    border-radius: 12px;
    padding: 20px;
    color: white;
    font-size: 13px;
    border: 4px solid #453236;
}

main h2 {
    margin: 0;
    font-family: "Fraunces", serif;
    font-size: 26px;
    color: #F1E7DD;
}

footer {
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    background-color: #6B5A60;
    color: white;
    border: 4px solid #453236;
    border-radius: 12px;
}

footer a {
    color: white;
}